@tailwind base;
@tailwind components;

.field {
  @apply block py-1 px-5 rounded-lg outline-none transition-all duration-200;
}

.cell {
  @apply block cursor-pointer rounded transition-shadow duration-100;
}

.cell:hover {
  @apply shadow-outline;
}

@tailwind utilities;

@import './grid.css';

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
}
